<section class="db-content-header" aria-label="Cabeçalho do conteúdo">
  <h2 class="db-navbar-title">{{ title }}</h2>
  {% if subtitle is defined and subtitle is not empty %}
    <p class="db-navbar-subtitle">{{ subtitle }}</p>
  {% endif %}
</section>